@model WebApplication2.Models.Record

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Enter the name of the record you want to delete:</h3>
<div>
    <h4>Record</h4>
    <hr />
    <form asp-action="DeleteByName">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
